{% extends "CinemaBoBundle::layout.html.twig" %}
{% form_theme form 'CinemaBoBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Contact</h1>
    <div class="col-md-8 row">
        <div class="row">
            {{ form(form) }}
        </div>
    </div>


{% endblock %}

