<ul class="list-group">
    <li class="list-group-item">Nombre de films <span class="badge">{{ nbMovies }}</span></li>
    <li class="list-group-item">Nombre de réalisateurs <span class="badge">{{ nbDirectors }}</span></li>
    <li class="list-group-item">Nombre d'acteurs <span class="badge">{{ nbActors }}</span></li>
    <li class="list-group-item">Nombre de catégories <span class="badge">{{ nbCategories }}</span></li>
</ul>