{% block footer %}
    <div class="clearfix"></div>
    <footer class="row">
            <hr />
            <p class="text-center">Copyright © SOZ 2014. All rights reserved.</p>
    </footer>
{% endblock %}