
    <aside  id="myCollapse">
        <div class="panel panel-success">

            <div class="panel-heading">
                <a href="#item2"  data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-camera"></span> 1</a>
            </div>
            <div id="item2" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <a href="#item5"  data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-camera"></span> 2</a>
            </div>
            <div id="item5" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>


            <div class="panel-heading">
                <a href="#item3" data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-user"></span> 3</a>
            </div>
            <div id="item3" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <a href="#item4" data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-user"></span> 4</a>
            </div>
            <div id="item4" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <a href="#item6" data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-tag"></span> 5</a>
            </div>
            <div id="item6" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
            <div class="panel-heading">
                <a href="#item7" data-parent="#myCollapse" class="panel-title" data-toggle="collapse"><span class="glyphicon glyphicon-tasks"></span> 6</a>
            </div>
            <div id="item7" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-unstyled">

                    </ul>
                </div>
            </div>
        </div>


    </aside>
