<div class="row">
    <div class="col-md-6">
        <!-- Javascript -->
        <script>


            init.push(function () {
                // Doughnut Chart Data
                var doughnutChartData = [];
                {% for category in categories %}
                    doughnutChartData.push({ label: "{{category.title}}", data: {{ category.nbMovies}} });

                {% endfor %}


                // Init Chart
                $('#jq-flot-pie').pixelPlot(doughnutChartData, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            innerRadius: 0.5,
                            label: {
                                show: true,
                                radius: 3 / 4,
                                formatter: function (label, series) {
                                    return '<div style="font-size:14px;text-align:center;padding:2px;color:white;">' + Math.round(series.percent) + '%</div>';
                                },
                                background: { opacity: 0 }
                            }
                        }
                    }
                }, {
                    height: 205
                });
            });
        </script>
        <!-- / Javascript -->
        <!-- http://www.flotcharts.org -->

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Films par catégories</span>
            </div>
            <div class="panel-body">
                <div class="graph-container">
                    <div id="jq-flot-pie"></div>
                </div>
            </div>
        </div>
    </div>
</div>