{% extends "CinemaBoBundle::layout.html.twig" %}
{% form_theme form 'CinemaBoBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Nouveau film</h1>
    <div class="col-md-8 row">
        {{ form(form) }}


    </div>


{% endblock %}

