{% extends "CinemaBoBundle::layout.html.twig" %}
{% form_theme form 'CinemaBoBundle:Form:fields.html.twig' %}
{% block content %}
    <h1>Nouveau film</h1>
    <div class="row">
        {{ form(form) }}
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        handleMovies_actors_collection();
    </script>
{% endblock %}

