{% for actor in actors %}
    <li class="list-group-item">
        <a  href="{{ path('cinema_bo_actor',{'id':actor.id})}}">
               {{  actor.firstname ~" " ~actor.lastname }}
        </a>
         <span>nb films</span><span class="badge espace">{{ actor.nbMovies }}</span>
    </li>

 {% endfor %}